# Data Cleanup

## I will be cleaning the two datasets and preparing it for querying via PostgreSQL. For that relational database, I will be using 'Playoffs.csv' and 'Regular_Season.csv'.

### Import Libraries

In [52]:
import pandas as pd

### Variables

In [53]:
filepath_reg = 'Regular_Season.csv'
filepath_playoffs = 'Playoffs.csv'

### Import to Pandas as CSV

In [54]:
data_reg = pd.read_csv(filepath_reg)
data_playoffs = pd.read_csv(filepath_playoffs)

### Viewing the two data heads

In [55]:
data_reg.head()

,Unnamed: 0.1,Unnamed: 0,year,Season_type,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,...,DREB,REB,AST,STL,BLK,TOV,PF,PTS,AST_TOV,STL_TOV
0,0,0,2012-13,Regular_Season,201142,1,Kevin Durant,1610612760,OKC,81,...,594,640,374,116,105,280,143,2280,1.34,0.41
1,1,1,2012-13,Regular_Season,977,2,Kobe Bryant,1610612747,LAL,78,...,367,433,469,106,25,287,173,2133,1.63,0.37
2,2,2,2012-13,Regular_Season,2544,3,LeBron James,1610612748,MIA,76,...,513,610,551,129,67,226,110,2036,2.44,0.57
3,3,3,2012-13,Regular_Season,201935,4,James Harden,1610612745,HOU,78,...,317,379,455,142,38,295,178,2023,1.54,0.48
4,4,4,2012-13,Regular_Season,2546,5,Carmelo Anthony,1610612752,NYK,67,...,326,460,171,52,32,175,205,1920,0.98,0.30

In [56]:
data_playoffs.head()

,Unnamed: 0.1,Unnamed: 0,year,Season_type,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,...,DREB,REB,AST,STL,BLK,TOV,PF,PTS,AST_TOV,STL_TOV
0,0,468,2012-13,Playoffs,2544,1,LeBron James,1610612748,MIA,23,...,156,193,152,41,18,70,43,596,2.17,0.59
1,1,469,2012-13,Playoffs,2225,2,Tony Parker,1610612759,SAS,21,...,54,68,146,24,3,53,26,432,2.75,0.45
2,2,470,2012-13,Playoffs,1495,3,Tim Duncan,1610612759,SAS,21,...,160,214,40,18,34,42,53,381,0.95,0.43
3,3,471,2012-13,Playoffs,202331,4,Paul George,1610612754,IND,19,...,125,141,96,25,9,75,72,365,1.28,0.33
4,4,472,2012-13,Playoffs,2548,5,Dwyane Wade,1610612748,MIA,22,...,64,102,105,38,23,58,45,349,1.81,0.66

#### Eyeballing the head, it seems our dataset has identical columns. Which is great because we can apply any changes we do to one column, to the other. I will be dropping unnecessary columns, adding a PPG (points-per-game) column as I know that is an important statistic in the NBA.

##### First, we need to ensure that there are no duplicate rows, and no null values in important columns.

In [57]:
data_reg.info()
data_reg.describe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6259 entries, 0 to 6258
Data columns (total 31 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0.1  6259 non-null   int64
 1   Unnamed: 0    6259 non-null   int64
 2   year          6259 non-null   object
 3   Season_type   6259 non-null   object
 4   PLAYER_ID     6259 non-null   int64
 5   RANK          6259 non-null   int64
 6   PLAYER        6259 non-null   object
 7   TEAM_ID       6259 non-null   int64
 8   TEAM          6259 non-null   object
 9   GP            6259 non-null   int64
 10  MIN           6259 non-null   int64
 11  FGM           6259 non-null   int64
 12  FGA           6259 non-null   int64
 13  FG_PCT        6259 non-null   float64
 14  FG3M          6259 non-null   int64
 15  FG3A          6259 non-null   int64
 16  FG3_PCT       6259 non-null   float64
 17  FTM           6259 non-null   int64
 18  FTA           6259 non-null   int64
 19  FT_PCT        6259 non-null   float64
 20  OREB          6259 non-null   int64
 21  DREB          6259 non-null   int64
 22  REB           6259 non-null   int64
 23  AST           6259 non-null   int64
 24  STL           6259 non-null   int64
 25  BLK           6259 non-null   int64
 26  TOV           6259 non-null   int64
 27  PF            6259 non-null   int64
 28  PTS           6259 non-null   int64
 29  AST_TOV       6259 non-null   float64
 30  STL_TOV       6259 non-null   float64
dtypes: float64(5), int64(22), object(4)
memory usage: 1.5+ MB

<bound method NDFrame.describe of       Unnamed: 0.1  Unnamed: 0     year     Season_type  PLAYER_ID  RANK  \
0                0           0  2012-13  Regular_Season     201142     1
1                1           1  2012-13  Regular_Season        977     2
2                2           2  2012-13  Regular_Season       2544     3
3                3           3  2012-13  Regular_Season     201935     4
4                4           4  2012-13  Regular_Season       2546     5
...            ...         ...      ...             ...        ...   ...
6254          6254        8616  2023-24  Regular_Season    1628382   563
6255          6255        8617  2023-24  Regular_Season    1629232   563
6256          6256        8618  2023-24  Regular_Season    1630608   563
6257          6257        8619  2023-24  Regular_Season    1631199   563
6258          6258        8620  2023-24  Regular_Season    1627853   563

                PLAYER     TEAM_ID TEAM  GP  ...  DREB  REB  AST  STL  BLK  \
0         Kevin Durant  1610612760  OKC  81  ...   594  640  374  116  105
1          Kobe Bryant  1610612747  LAL  78  ...   367  433  469  106   25
2         LeBron James  1610612748  MIA  76  ...   513  610  551  129   67
3         James Harden  1610612745  HOU  78  ...   317  379  455  142   38
4      Carmelo Anthony  1610612752  NYK  67  ...   326  460  171   52   32
...                ...         ...  ...  ..  ...   ...  ...  ...  ...  ...
6254    Justin Jackson  1610612750  MIN   2  ...     0    0    0    0    0
6255      Kaiser Gates  1610612740  NOP   1  ...     1    1    0    0    0
6256   Malcolm Cazalon  1610612765  DET   1  ...     0    0    0    0    0
6257    Ron Harper Jr.  1610612761  TOR   1  ...     0    0    1    0    0
6258  Ryan Arcidiacono  1610612752  NYK  20  ...     8    8    4    2    0

      TOV   PF   PTS  AST_TOV  STL_TOV
0     280  143  2280     1.34     0.41
1     287  173  2133     1.63     0.37
2     226  110  2036     2.44     0.57
3     295  178  2023     1.54     0.48
4     175  205  1920     0.98     0.30
...   ...  ...   ...      ...      ...
6254    0    0     0     0.00     0.00
6255    0    0     0     0.00     0.00
6256    0    0     0     0.00     0.00
6257    0    2     0     0.00     0.00
6258    2    5     0     2.00     1.00

[6259 rows x 31 columns]>

In [58]:
data_playoffs.info()
data_playoffs.describe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2576 entries, 0 to 2575
Data columns (total 31 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0.1  2576 non-null   int64
 1   Unnamed: 0    2576 non-null   int64
 2   year          2576 non-null   object
 3   Season_type   2576 non-null   object
 4   PLAYER_ID     2576 non-null   int64
 5   RANK          2576 non-null   int64
 6   PLAYER        2576 non-null   object
 7   TEAM_ID       2576 non-null   int64
 8   TEAM          2576 non-null   object
 9   GP            2576 non-null   int64
 10  MIN           2576 non-null   int64
 11  FGM           2576 non-null   int64
 12  FGA           2576 non-null   int64
 13  FG_PCT        2576 non-null   float64
 14  FG3M          2576 non-null   int64
 15  FG3A          2576 non-null   int64
 16  FG3_PCT       2576 non-null   float64
 17  FTM           2576 non-null   int64
 18  FTA           2576 non-null   int64
 19  FT_PCT        2576 non-null   float64
 20  OREB          2576 non-null   int64
 21  DREB          2576 non-null   int64
 22  REB           2576 non-null   int64
 23  AST           2576 non-null   int64
 24  STL           2576 non-null   int64
 25  BLK           2576 non-null   int64
 26  TOV           2576 non-null   int64
 27  PF            2576 non-null   int64
 28  PTS           2576 non-null   int64
 29  AST_TOV       2576 non-null   float64
 30  STL_TOV       2576 non-null   float64
dtypes: float64(5), int64(22), object(4)
memory usage: 624.0+ KB

<bound method NDFrame.describe of       Unnamed: 0.1  Unnamed: 0     year Season_type  PLAYER_ID  RANK  \
0                0         468  2012-13    Playoffs       2544     1
1                1         469  2012-13    Playoffs       2225     2
2                2         470  2012-13    Playoffs       1495     3
3                3         471  2012-13    Playoffs     202331     4
4                4         472  2012-13    Playoffs       2548     5
...            ...         ...      ...         ...        ...   ...
2571          2571        8830  2023-24    Playoffs    1641765   198
2572          2572        8831  2023-24    Playoffs    1631115   198
2573          2573        8832  2023-24    Playoffs     203933   198
2574          2574        8833  2023-24    Playoffs     201152   198
2575          2575        8834  2023-24    Playoffs     203648   198

                       PLAYER     TEAM_ID TEAM  GP  ...  DREB  REB  AST  STL  \
0                LeBron James  1610612748  MIA  23  ...   156  193  152   41
1                 Tony Parker  1610612759  SAS  21  ...    54   68  146   24
2                  Tim Duncan  1610612759  SAS  21  ...   160  214   40   18
3                 Paul George  1610612754  IND  19  ...   125  141   96   25
4                 Dwyane Wade  1610612748  MIA  22  ...    64  102  105   38
...                       ...         ...  ...  ..  ...   ...  ...  ...  ...
2571  Olivier-Maxence Prosper  1610612742  DAL   3  ...     3    3    1    0
2572         Orlando Robinson  1610612748  MIA   1  ...     1    1    1    0
2573              T.J. Warren  1610612750  MIN   3  ...     1    3    1    0
2574           Thaddeus Young  1610612756  PHX   1  ...     0    0    0    0
2575   Thanasis Antetokounmpo  1610612749  MIL   2  ...     0    0    0    1

      BLK  TOV  PF  PTS  AST_TOV  STL_TOV
0      18   70  43  596     2.17     0.59
1       3   53  26  432     2.75     0.45
2      34   42  53  381     0.95     0.43
3       9   75  72  365     1.28     0.33
4      23   58  45  349     1.81     0.66
...   ...  ...  ..  ...      ...      ...
2571    0    0   0    0     0.00     0.00
2572    0    0   0    0     0.00     0.00
2573    0    0   0    0     0.00     0.00
2574    0    0   0    0     0.00     0.00
2575    1    0   1    0     0.00     0.00

[2576 rows x 31 columns]>

### Truthfully, I do not believe the following columns are useful: Unamed: 0, Unnamed: 0.1, AST_TOV, STL_TOV. The rest of the data are extremely valuable for analysis.

In [59]:
data_playoffs.drop(['Unnamed: 0', 'Unnamed: 0.1', 'AST_TOV', 'STL_TOV'], axis=1, inplace=True)

In [60]:
data_reg.drop(['Unnamed: 0', 'Unnamed: 0.1', 'AST_TOV', 'STL_TOV'], axis=1, inplace=True)

### Looking at the info, we can see there are no-null values, which is great. We just need to check for duplicates.

In [61]:
playoff_duplicates = data_playoffs.duplicated().sum()
print(playoff_duplicates)

0

In [62]:
reg_duplicates = data_reg.duplicated().sum()
print(reg_duplicates)

0

### Add PPG column

In [63]:
data_reg['PPG'] = data_reg['PTS']/data_reg['GP']

In [64]:
data_playoffs['PPG'] = data_playoffs['PTS']/data_playoffs['GP']

### Looking at the info for the dataset, it seems we have a good amount of floats. I would like to limit them to only two decimal places

In [65]:
float_columns = ['FG_PCT','FG3_PCT','FT_PCT', 'PPG']
data_reg[float_columns] = data_reg[float_columns].round(2)
data_playoffs[float_columns] = data_playoffs[float_columns].round(2)

#### At this point we can view our head for the dataset and reflect on what else needs to be done

In [66]:
data_playoffs.head(5)

,year,Season_type,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,...,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PPG
0,2012-13,Playoffs,2544,1,LeBron James,1610612748,MIA,23,960,212,...,37,156,193,152,41,18,70,43,596,25.91
1,2012-13,Playoffs,2225,2,Tony Parker,1610612759,SAS,21,765,167,...,14,54,68,146,24,3,53,26,432,20.57
2,2012-13,Playoffs,1495,3,Tim Duncan,1610612759,SAS,21,735,151,...,54,160,214,40,18,34,42,53,381,18.14
3,2012-13,Playoffs,202331,4,Paul George,1610612754,IND,19,780,119,...,16,125,141,96,25,9,75,72,365,19.21
4,2012-13,Playoffs,2548,5,Dwyane Wade,1610612748,MIA,22,782,144,...,38,64,102,105,38,23,58,45,349,15.86

In [67]:
data_reg.head(5)

,year,Season_type,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,...,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PPG
0,2012-13,Regular_Season,201142,1,Kevin Durant,1610612760,OKC,81,3119,731,...,46,594,640,374,116,105,280,143,2280,28.15
1,2012-13,Regular_Season,977,2,Kobe Bryant,1610612747,LAL,78,3013,738,...,66,367,433,469,106,25,287,173,2133,27.35
2,2012-13,Regular_Season,2544,3,LeBron James,1610612748,MIA,76,2877,765,...,97,513,610,551,129,67,226,110,2036,26.79
3,2012-13,Regular_Season,201935,4,James Harden,1610612745,HOU,78,2985,585,...,62,317,379,455,142,38,295,178,2023,25.94
4,2012-13,Regular_Season,2546,5,Carmelo Anthony,1610612752,NYK,67,2482,669,...,134,326,460,171,52,32,175,205,1920,28.66

### It looks good for querying, however, I will be converting the 'year' column to a date format as it is currently an object.

In [68]:
data_reg[['Start Year', 'End Year']] = data_reg['year'].str.split('-', expand = True)
data_reg['Start Year'] = pd.to_datetime(data_reg['Start Year'])
data_reg['End Year'] = pd.to_datetime('20' + data_reg['End Year'])

In [69]:
data_playoffs[['Start Year', 'End Year']] = data_playoffs['year'].str.split('-', expand = True)
data_playoffs['Start Year'] = pd.to_datetime(data_playoffs['Start Year'])
data_playoffs['End Year'] = pd.to_datetime('20' + data_playoffs['End Year'])

In [70]:
data_playoffs['Start Year'] = data_playoffs['Start Year'].dt.year
data_playoffs['End Year'] = data_playoffs['End Year'].dt.year

In [71]:
data_reg['Start Year'] = data_reg['Start Year'].dt.year
data_reg['End Year'] = data_reg['End Year'].dt.year

### After doing all this, we will need to reorder the columns so start year and end year are in the front, and drop year.

In [75]:
data_reg = data_reg.drop('year', axis = 1)
data_playoffs = data_playoffs.drop('year', axis = 1)

In [76]:
print(data_reg.columns)

Index(['Season_type', 'PLAYER_ID', 'RANK', 'PLAYER', 'TEAM_ID', 'TEAM', 'GP',
       'MIN', 'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA',
       'FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK', 'TOV', 'PF',
       'PTS', 'PPG', 'Start Year', 'End Year'],
      dtype='object')